/*
to import the "index.scss" file (which is the main library built) from the "agoSASS" folder.
The path does not need to be defined, it'll automatically import the index.scss file.
The import must be below every other thing inside this new "index.scss" file.

When compiling, it'll compile this file and include everything from the "index.scss" file inside "agoSASS" folder as well.
*/
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: rgb(103, 2, 2);
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: rgb(213, 196, 12);
  }
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #4b0082;
}

.bg-primary {
  background-color: #4b0082;
}

.bg-primary-light-2 {
  background-color: #6f339b;
}

.bg-primary-light-4 {
  background-color: #9366b4;
}

.bg-primary-light-6 {
  background-color: #b799cd;
}

.bg-primary-light-8 {
  background-color: #dbcce6;
}

.bg-primary-dark-2 {
  background-color: #3c0068;
}

.bg-primary-dark-4 {
  background-color: #2d004e;
}

.bg-primary-dark-6 {
  background-color: #1e0034;
}

.bg-primary-dark-8 {
  background-color: #0f001a;
}

.text-secondary {
  color: #03f003;
}

.text-hover-secondary:hover {
  color: #03f003;
}

.bg-secondary {
  background-color: #03f003;
}

.bg-secondary-light-5 {
  background-color: #81f881;
}

.bg-secondary-light-9 {
  background-color: #e6fee6;
}

.text-secondary-dark-2 {
  color: #02c002;
}

.text-error {
  color: #f00303;
}

.bg-error {
  background-color: #f00303;
}

.text-info {
  color: #f0e003;
}

.text-hover-info:hover {
  color: #f0e003;
}

.bg-info {
  background-color: #f0e003;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.text-purple {
  color: #800080;
}

.bg-purple {
  background-color: #800080;
}

.text-gray {
  color: #c2bfbf;
}

.bg-gray {
  background-color: #c2bfbf;
}

.bg-gray-light-7 {
  background-color: #edecec;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 0.0625rem groove #dddddd;
  box-shadow: 0.0625rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
}
.card .card-title {
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

/*
Mixins: can be declared with or without parameters. They're declared and used/included in places desired.

a "btn" mixin declared with a default parameter (i.e. $bg-color) and it's value (i.e. #d3d885) set already,
the background colour property's value of the mixin is set to the parameter (i.e. $bg-color) passed in.
*/
.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #d3d885;
}

.btn-primary {
  /*
  "btn" mixin include here with the argument ($value) which is the value of the $bg-color passed in as parameter when declared above.
  This means the default value set at declaration of the "btn" mixin will be overwritten by $value (which is from the "variables" file).
  */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #4b0082;
}
.btn-primary:hover {
  background-color: #5a009c;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #4b0082;
  color: #7cff1c;
}
.btn-complement-primary:hover {
  color: #4b0082;
  background-color: #7cff1c;
}

.btn-secondary {
  /*
  "btn" mixin include here with the argument ($value) which is the value of the $bg-color passed in as parameter when declared above.
  This means the default value set at declaration of the "btn" mixin will be overwritten by $value (which is from the "variables" file).
  */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #03f003;
}
.btn-secondary:hover {
  background-color: #10fc10;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #03f003;
}
.btn-outlined-secondary:hover {
  background-color: #03f003;
}

.btn-error {
  /*
  "btn" mixin include here with the argument ($value) which is the value of the $bg-color passed in as parameter when declared above.
  This means the default value set at declaration of the "btn" mixin will be overwritten by $value (which is from the "variables" file).
  */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #f00303;
}
.btn-error:hover {
  background-color: #fc1010;
}

.btn-info {
  /*
  "btn" mixin include here with the argument ($value) which is the value of the $bg-color passed in as parameter when declared above.
  This means the default value set at declaration of the "btn" mixin will be overwritten by $value (which is from the "variables" file).
  */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #f0e003;
}
.btn-info:hover {
  background-color: #fcec10;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #800080;
}
.btn-outlined-purple:hover {
  background-color: #800080;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #800080;
  color: #1aff1a;
}
.btn-complement-purple:hover {
  color: #800080;
  background-color: #1aff1a;
}

.navbar .container, .navbar-primary .container, .navbar, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 0.0625rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #4b0082;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.o-10 {
  opacity: 0.1;
}

.o-30 {
  opacity: 0.3;
}

.o-50 {
  opacity: 0.5;
}

.o-70 {
  opacity: 0.7;
}

.o-90 {
  opacity: 0.9;
}

.br {
  border-radius: 1.25rem;
}

.br-xs {
  border-radius: 0.3125rem;
}

.br-lg {
  border-radius: 2.5rem;
}

.display-f {
  display: flex;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 4rem;
}