/* reset styles */
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: #0346f0;
  margin-bottom: 0.75rem;
}

a {
  color: #03f003;
}

button {
  color: #ffffff;
  border: 0;
  background: #0346f0;
  border-radius: 1.25rem;
  padding: 0.75rem;
}

.error {
  color: #f00303;
  border-color: #f00303;
  border-style: groove;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 1.25rem;
  border-width: 0.0625rem;
}

.notification {
  color: #03f003;
  border-color: #03f003;
  border-style: groove;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 1.25rem;
  border-width: 0.0625rem;
}