
@use "sass:math"; // to enable using the math package.


.card { // start card.
    display: block;
    padding: $base-padding;
    border: $base-border-thickness groove #dddddd;
    box-shadow: $base-box-shadow;

    // "math.div()" is method for division. "border-radius" value that's set here will be the "base-border-radius" from the "variables" file divided by 4.
    border-radius: math.div($base-border-radius, 4);
  
    .card-title { // start card title.
      font-size: $font-size-xl;
      padding-bottom: $base-padding;
      font-weight: bold;
    } // end card title.

    .card-body { // start card body.
      font-size: $base-font-size;
  
      a {
        text-decoration: underline;
      }

    } // end card body.


  } // end card.

  
  //                      ** Just Notes **
  @debug math.div(10, 4); // will divide 10 by 4 and return the result.
  @debug math.floor(2.5); // will round down (irrespective of the decimal place) and return only the whole number, removing the decimal place.
  @debug math.ceil(4.2); // will round up (irrespective of the decimal place) and return only the whole number, removing the decimal place.
  @debug math.max(10, 4, 1, 24, 7, 11); // will return the highest value from the passed in values.