
@use "sass:math";


.card { // start card.
    display: block;
    padding: $base-padding;
    border: $base-border-thickness groove #dddddd;
    box-shadow: $base-box-shadow;

    // "math.div()" is method for division. "border-radius" value that's set here will be the "base-border-radius" from the "variables" file divided by 4.
    border-radius: math.div($base-border-radius, 4);
  
    .card-title { // start card title.
      font-size: $font-size-xl;
      padding-bottom: $base-padding;
      font-weight: bold;
    } // end card title.

    .card-body { // start card body.
      font-size: $base-font-size;
  
      a {
        text-decoration: underline;
      }

    } // end card body.


  } // end card.