
/*
"_base.sccs" will not be compiled. Any SASS file starting with an underscore (i.e. "_") indicates that it should not be compile alongside the other SASS files.
Most files starting with underscores are usually partials that are imported into the root SASS file (i.e. "index.scss").
*/


/* reset styles */
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}