
// to cycle/loop through the map colours collection.
@each $key, $value in $colours {
    // for each key-value pair, generate a text colour class and a background colour class.

  .text-#{$key} { // set the "$key" as done.
    color: $value; // then the property's value to "$value" (i.e. the value of the "$key").
  }

  .bg-#{$key} {
    background-color: $value;
  }


  @if ( $value != black and $value != white ) {
    
  // light variations of each colour.
  @for $i from 1 through 9 {

    .text-#{$key}-light-#{$i} {
      color: mix(white, $value, $i * 10);
    }

    .bg-#{$key}-light-#{$i} {
      background-color: mix(white, $value, $i * 10);
    }

  }


  // dark variations of each colour.
  @for $i from 1 through 9 {

    .text-#{$key}-dark-#{$i} {
      color: mix(black, $value, $i * 10);
    }

    .bg-#{$key}-dark-#{$i} {
      background-color: mix(black, $value, $i * 10);
    }

  }

  }


}