
// theme colours
/*
"!default" added in the declaration of these variables means this should be the values of the variables unless there's another value set for the variables elsewhere.
This is done for variables that might be overwritten in future.
*/
$primary: #0346f0 !default;
$secondary: #03f003 !default;
$error: #f00303 !default;
$info: #f0e003 !default;


// colour palette
$colours: ( // a map (of colours): a collection of colours.
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #800080,
    "gray": #c2bfbf,
    "black": black,
    "white": white,
  );

  
// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;


// borders
$base-border-thickness: 0.0625rem;
$base-border-radius: 1.25rem;


// box-shadow
$base-box-shadow: 0.0625rem 0.1875rem 0.3125rem rgba(0,0,0,0.1);


// font sizes
$base-font-size: 1rem;
// multiplying the "base-font-size" by other numbers to increase or decrease the new font-size to be declared, as shown below.
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 4;