
// theme colours
$primary: #0346f0;
$secondary: #03f003;
$error: #f00303;
$info: #f0e003;


// colour palette
$colours: ( // a map (of colours): a collection of colours.
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #800080,
    "gray": #808080,
    "black": #000000,
    "white": #ffffff,
  );

  
  // the "map-get()" method gets/retrieves a value from a map. The 1st argument is which map to be looked into, 2nd argument is the key of the value to be retrieved.
  @debug map-get($colours, "purple"); // "map-get()" returns/retrieves the value of the key (i.e. purple) passed into the method.
  @debug map-has-key($colours, "secondary"); // "map-has-key()" returns true or false whether the key (i.e. secondary) passed in exits in the map collection.
  @debug map-has-key($colours, "tertiary");
  @debug map-remove($colours, "primary"); // this will remove the key and value of "primary", from the map colours collection.
  @debug map-merge($colours, ("goldenrod": #daa520) ); // to add a new key-value pair into the colours collection.


// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;


// borders
$base-border-thickness: 0.0625rem;
$base-border-radius: 1.25rem;


// box-shadow
$base-box-shadow: 0.0625rem 0.1875rem 0.3125rem rgba(0,0,0,0.1);


// font sizes
$base-font-size: 1rem;
// multiplying the "base-font-size" by other numbers to increase or decrease the new font-size to be declared, as shown below.
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 4;