
// theme colours
$primary: #0346f0;
$secondary: #03f003;
$error: #f00303;
$info: #f0e003;


// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;


// borders
$base-border-thickness: 0.0625rem;
$base-border-radius: 1.25rem;
